@import '../../../assets//css//element-variables.scss';
/*顶部菜单的三级菜单设置*/
div:nth-child(2).el-menu--horizontal {
  overflow: hidden;
  left: -203px !important;
  width: 100%;

  ul {
    max-height: 350px;
    overflow-y: scroll;
    width: 110%;
  }
}
#logo {
  float: left;
  width: 15%;
  height: 10%;
  background-color: $--color-primary;
  z-index: 100;
  position: relative;

  img {
    padding: 5%;
    width: 80%;
    height: 78%;
  }
}

//顶部css
.TOPhome {
  height: 100%;
  // padding-top:10%; 
.nav{
      // position: fixed;
      // top: 0%;
      // left: 0;
      height: 10%;
      width: 100%;

      #logo{
        height:100%;
      }
  .menu {
    position: relative;
    float: left;
    width: 85%;
    height: 100%;
    overflow: hidden;
    .el-menu--horizontal{//ul
      
     
    }
  }
}
  .main {
    position: relative;
    float: left;
    width: 100%;
    height: 90%;
    z-index: 2;
  }

  /*个人信息部分*/
  .topToll {
    position: absolute;
    top: 0;
    right: 0;
    width: 18%;
    margin-left:2%;
    height: 100%;
    z-index: 100;
    background-color: $--color-primary; //遮盖多出来的菜单

    .el-button--mini {
      height: 100%;
      width: 20px;
      padding: 0;
    }

    img {
      width: 50px;
      height: 50px;
      float: right;
      border-radius: 50%;
      background-color: $--color-primary;
      margin-right: 20px;
    }
  }
}

//侧边栏css

.Asihome {
  height: 100%;
    // padding-left:20%;
.nav{
  position: relative;
  // top:0;
  // left: 0;
  width: 15%;
  height: 100%;
   overflow: hidden;
    #logo {
      height: 10%;
      width: 100%;
    }
  .menu {
    position: absolute;
    top: 10%;
    left: 0;
    width: 110%;
    height: 90%;
    overflow: hidden;
}}
  .main {
    position: absolute;
    top:0;
    width: 85%;
    height: 100%;
    left: 15%;
  }
}